extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")

block content
    main

        div(id='login-div')
            form(action="./login", method="POST")
                label(for="login_user") Login
                input.form-control(type="text", name="login_user",value="")
                label(for="pwd_user") Mot de Passe
                input.form-control(type="password", name="pwd_user",value="")
                br
                br
                button.btn.btn-primary(type="submit") Se connecter