extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    main
        p.titre #{user_data[0].nom_user}
        p.titre #{user_data[0].prenom_user}
        p.titre #{user_data[0].login_user}
        p.titre #{user_data[0].mail_user}
        