	script.
    $(document).on({
      ajaxStart: function() { $("body").addClass("loading");    },
      ajaxStop: function() { $("body").removeClass("loading"); } ,  
      load:function() { $("body").removeClass("loading");    }
    });


    $("body").addClass("loading");
    $(window).load(function() {
      $("body").removeClass("loading");
    });