<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        script(src="/js/jquery.min.js")
        script(src="/js/popper.min.js")
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/DataTables/datatables.min.js")
        
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/DataTables/datatables.min.css")
        link(rel="stylesheet", href="/open-iconic-master/font/css/open-iconic-bootstrap.min.css")
        
        block styles
    body
        .header   
            
            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand(href="/") Canoe
                
                button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
                    span.navbar-toggler.icon

                div.collapse.navbar-collapse(id="navbarSupportedContent")
                    ul.navbar-nav.mr-auto
                        if session.isAuthenticated
                            li.nav-item
                                a.nav-link(href="/analyse/alarmes") Alarmes

                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#",id="DropdownAlarmes",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Supervision
                                div.dropdown-menu(aria-labelledby="DropdownAlarmes")
                                    a.dropdown-item(href="/analyse/evo_ano", class=(path === '/analyse/evo_ano' ? 'active' : '')) Evolution Anomalies
                                    a.dropdown-item(href="/analyse/liste_clis", class=(path === '/analyse/liste_clis' ? 'active' : '')) Liste Incidents
                                    a.dropdown-item(href="/analyse/cni", class=(path === '/analyse/cni' ? 'active' : '')) Focus Anomalie

                        if session.isParam 
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#",id="DropdownParam",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Paramétrage Applicatif
                                div.dropdown-menu(aria-labelledby="DropdownParam")
                                    a.dropdown-item(href="/params/errorcodes", class=(path === '/params/errorcodes' ? 'active' : '')) Gerer les codes d'erreur 
                                    .dropdown-divider 
                                    a.dropdown-item(href="/params/typos", class=(path === '/params/typos' ? 'active' : '')) Gerer les typologies 
                                    .dropdown-divider
                                    a.dropdown-item(href="/params/clis", class=(path === '/params/clis' ? 'active' : '')) Gerer les incidents
                                    .dropdown-divider  
                                    a.dropdown-item(href="/params/parametres", class=(path === '/params/parametres' ? 'active' : '')) Parametres Applicatifs 
                    
                        if session.isAdmin
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="#",id="DropdownAdmin",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Admin
                                div.dropdown-menu(aria-labelledby="DropdownAdmin")
                                    a.dropdown-item(href='/admin/userslist', class=(path === '/admin/userslist' ? 'active' : '')) Gérer les utilisateurs
                                    //- a.dropdown-item(href="/admin/adduser", class=(path === '/admin/adduser' ? 'active' : '')) Ajout Utilisateur
                    
                    ul.nav.navbar-nav.navbar-right
                        if session.isAuthenticated
                            .btn-group
                                button.btn.btn-outline-info.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{session.login}
                                    
                                div.dropdown-menu.dropdown-menu-right(aria-labelledby="DropdownLogOut")                                  
                                    form.text-center(action="/auth/logout",method="POST")
                                        button.btn.btn-menu.btn-outline-danger(type="submit",name="submit_logOut",value="Logout")
                                            span.oi.oi-account-logout &nbsp;Se Deconnecter
                                    //- .dropdown-divider
                                    //- form.text-center(action="/auth/changepwd",method="GET")
                                    //-     button.btn.btn-menu.btn-link(type="submit",name="reset_pwd") Changer mot de passe                                          
                        else
                            .btn-group
                                button.btn.btn-outline-info.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Se Connecter
                                div.dropdown-menu.dropdown-menu-right.text-center(aria-labelledby="DropdownLogin")
                                    form.text-center(action="/auth/login",method="GET")
                                        button.btn.btn-menu.btn-outline-success(type="submit")
                                            span.oi.oi-account-login &nbsp; LogIn
                                    .dropdown-divider
                                    form.text-center(action="/auth/createAccount",method="GET")
                                        button.btn.btn-menu.btn-menu.btn-outline-primary(type="submit") Créer un compte
                                        
        .container-fluid

            block content



        
