extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet",href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

block content
    main

        script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

        script.
            $(document).ready( function () {
                $('#liste_codes').DataTable();
            } );

        .row
            .col-md-12
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active.show(href="#GererCode",data-toggle="tab",role="tab") Gerer les Codes
                    li.nav-item
                        a.nav-link(href="#AjouterCode",data-toggle="tab",role="tab") Ajouter un Code

                .tab-content(id="errorCodesTabContent")
                    .tab-pane.fade.show.active(id="GererCode", role="tabpanel", aria-labelledby="GererCode-tab")
                        if errorCodes.length > 0 
                            .tab-container
                                .row
                                    .col-md-8
                                        .table-responsive
                                            table#liste_codes.table.table-bordered.table-hover
                                                thead
                                                    tr
                                                        th Code Erreur
                                                        th Description
                                                        th Modif
                                                tbody
                                                    each code in errorCodes
                                                        tr
                                                            td #{code.ErrorCode}
                                                            td #{code.Description_ErrorCode}
                                                            td
                                                                a.btn.btn-outline-primary(href="/params/code_edit/"+code.ErrorCode) Editer
                                                    
                        else
                            h1 Pas de codes  

                    .tab-pane.fade(id="AjouterCode", role="tabpanel", aria-labelledby="AjouterCode-tab")
                        .tab-container
                           .row
                                .col-md-8
                                    form(action="/params/code_add",method="post")
                                        label(for "newCode_Code") Code:
                                        input.form-control(type="text",name="newCode_Code",id="newCode_Code")
                                        label(for "newCode_Problematique") Problématique:
                                        textarea.form-control(name="newCode_Problematique",id="newCode_Problematique")
                                        br
                                        input.btn.btn-outline-primary(type="submit" name="addCode" value="Ajouter le code")