extends layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/admin/adduser", method="POST")
            .form-control
                label(for="prenom_new_user") Prenom
                input(type="text", name="prenom_new_user")#prenom_new_user
                label(for="nom_new_user") Nom
                input(type="text", name="nom_new_user")#nom_new_user
                label(for="login_new_user") Login
                input(type="text", name="login_new_user")#login_new_user
                label(for="mail_new_user") Mail
                input(type="text", name="mail_new_user")#mail_new_user
            button.btn(type="submit") Ajouter Utilisateur
