

.div_code_selecteur
{
  margin-bottom:2vh;
  padding:1em 0;
  background:rgb(245,245,245);
}

.code_selecteur
{
  padding:5px;
  margin-right:1vw;
  font-size: 1.3em;
}

.no-item-message
{
  font-size:1.4em;
  color:darkred;
  padding:0.6em;
  text-align: center;
  line-height:24vh;
  font-weight: bolder;
}
.no-item-message span
{
  width:30px;
}

.lateral-menu
{
  position:absolute;
  left:100vw;
  height:90%;
  overflow-y: scroll;
  width:0px;
  background:rgba(0,0,0,0.7);
  z-index:2000;
  transition-duration: 0.8s;
  color:white;

}
.lateral-menu.open
{
left:64vw;
width:35vw;
}

.close_lateral
{
  border-radius:1.5em;
  border:2px solid white;
  margin-right:1.5em;
  font-weight: bold;
  background:rgba(255,255,255,0.3);
}

.header_nb_tickets
{
  background:rgba(255,255,255,0.5);
  BOrder-radius:3px;
  width:15em;
  padding:5px;
}