textarea
{
  height:10em;
}

label
{
  font-weight: 800;
  color:var(--header_bg);
  margin:1.5em 0.6em 0 0;
}


.modal-header
{
  background:var(--header_bg);
  color:white;
}

.modal-header.success-modal
{
  background:rgb(25,200,166);
  color:white
}
.modal-body.success-modal
{
  color:rgb(4,174,158);
  font-size:1.2em;
}
.btn-modal-success
{
  background:rgb(25,200,166);
  color:white;
}

.modal-header.KO-modal
{
  background:red;
  color:white
}
.modal-body.KO-modal
{
  color:red;
  font-size:1.2em;
}
.btn-modal-KO
{
  background:red;
  color:white;
}


#login-div
{
  margin : 0 auto;
  width:20em;
  vertical-align: middle;
  border:2px solid var(--header_bg);
  padding:2em;
  top:20em;
  border-radius:1em;
}

#changePwdErrors
{
  color:red;
  font-size:1.2em;
}

.errorMessage
{
  color:red;
  padding:0.4em;
  border:1px solid red;
  border-radius:3px;
  background:rgb(245,195,195);

}