@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@media screen and (max-width: 1024px)
{
    *
    {
        font-size:10px;
    }
}

@media screen and (max-width: 1440px)
{
    *
    {
        font-size:11px;
    }
}

@media screen and (max-width: 2300px)
{
    *
    {
        font-size:12px;
    }
}
:root{
  --header_bg:rgb(45,110,132);
  /* --header_bg:rgb(194, 110, 110); */
  /* --header_bg:rgb(120,73,120);
  --header_bg:rgb(165,82,89); */
  --element-bg: rgb(225,225,225);
  --element-shadow: 8px 8px 12px #aaa;
  --info-tooltip-bg:rgb(154, 154, 164);
  --info-tooltip-color:white;
  }

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  
}

main {
  padding: 1rem;
  margin: auto;
  
}

.header {
  font-size:1.2rem;
  padding: 0 1.5rem;
  margin-bottom: 2vh;
  /**background:var(--header_bg);**/
  border-bottom:2px solid var(--header_bg);
}

th
{
  background:var(--header_bg);
  color:white;
}
.titre
{
  font-size:1.3em;
  color:darkblue;
}

.navbar
{
  font-size:18px;
}



.tab-container
{
  margin-top:3em;
}

.nav.nav-tabs
{
  border-bottom:1px solid var(--header_bg);
}

a.nav-link.active.show
{
  border:1px solid rgb(45,110,132);
  background:rgb(145,210,232);
  background:var(--header_bg);
  color:white
}
a.dropdown-item.active
{
  background:var(--header_bg);
}
.inactive
{
  font-weight: 800;
  color:orange;
}


th
{
  background:var(--header_bg);
  color:white;
}

.group-item
{
  min-height:35vh;
  width:100%;
  background:rgb(250,250,245);
  background:rgb(245,245,245);
  margin-bottom:1em;
  border:1px solid var(--header_bg);
  box-shadow: var(--element-shadow);
}

.group-item_title
{
  width:100%;
  background:brown;
  background:var(--header_bg);
  padding:0.6em;
  color:white;
  font-size:1.2em;
}

.modal_close
{
  margin-left:2em;
}


.btn-menu
{
  width:90%;
}

.info-icon
{
  background-color:var(--info-tooltip-bg);
  padding:0.3em;
  border-radius:1em;
  width:2em;
  text-align:center;
  border:2px solid var(--info-tooltip-color);
  color:var(--info-tooltip-color);
  margin-left:0.2em;
}
.info-icon title
{
  height:5em;
  font-size:15px;
  font-weight: 800;
}

.derive_compar
{
  color:darkred;
  background:rgba(225,200,200,0.3);
}

/* mise en page datatables */

.dataTables_filter,.dataTables_paginate
{
  margin-right:1em;
}

.dataTables_length,.dataTables_info
{
  margin-left:1em;
}

.page-item a
{
  color:var(--header_bg);
}

.page-item.active .page-link a
{
  background:red;
}

.freshdata
{
  color:rgb(7, 252, 7);
  color:white;
  background:rgb(24,196,24);
  width:15em;
  padding:0.8em;
}
.olderdata
{
  color:orange;
  color:white;
  background:orangered;
  width:15em;
  padding:0.8em;
}


.waiting{
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('../img/ajax-loader.gif') 
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}



/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .waiting {
  display: block;
}