@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@media screen and (max-width: 1024px)
{
    *
    {
        font-size:10px;
    }
}

@media screen and (max-width: 1440px)
{
    *
    {
        font-size:11px;
    }
}

@media screen and (max-width: 2300px)
{
    *
    {
        font-size:12px;
    }
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.header {
  width: 100%;
  font-size:1.2rem;
  padding: 0 1.5rem;
}
th
{
  background:rgb(45,110,132);
  color:white;
}
.titre
{
  font-size:1.3em;
  color:darkblue;
}

.navbar
{
  font-size:18px;
}

.tab-container
{
  margin-top:3em;
}

.nav.nav-tabs
{
  border-bottom:1px solid rgb(45,110,132);
}

a.nav-link.active
{
  border:1px solid rgb(45,110,132);
}